APP_HOST=0.0.0.0
APP_PORT=2020
APP_DATA_DIR=./data
APP_RUNTIME_DIR=./runtime
ADMIN_DEFAULT_USER=admin
ADMIN_DEFAULT_PASS=admin123
METRICS_INTERVAL_SECONDS=1
METRICS_WINDOW_SECONDS=300
UPSTREAM_CONNECT_TIMEOUT_SECONDS=5
SHUTDOWN_GRACE_SECONDS=5
APP_APPLY_IPTABLES_ON_ENDPOINT_START=1
APP_IPTABLES_SOURCE_SUBNET=172.31.250.0/24
APP_IPTABLES_INPUT_INTERFACE=tun0
APP_IPTABLES_OUTPUT_INTERFACE=eth1
